.container {
    margin-top: 80px;
}
 
.nav {

    ul, li {
        display: inline;
        margin: 0 80px 0 0px;
        float: left;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
}

.hero{
    display: flex;
    height: 80vh;
    align-items: center;
}

.content{
    margin-bottom: 240px;
    display: flex;
}

.reverse{
    display: flex;
    flex-direction: row-reverse;
}